/* Contact Form Specific Styles */
.contact-form .content-subtitle {
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #C87E4F;
}

.form-content {
    display: grid;
    row-gap: 1.5rem;
}

.form-inputBox {
    position: relative;
}

.form-input {
    width: 100%;
    padding: 1.4rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: #FFF;
    transition: border-color 0.3s;
    outline: none;
}


.form-input:focus {
    border-color: #C87E4F;
}

.form-input::placeholder {
    color: #888682;
}

.form-input[type="textarea"] {
    border-radius: 1rem;
    resize: vertical;
}

.contact-form .button {
    justify-self: start;
    border: none;
    outline: none;
    color: #FFF;
    padding: 1.4rem 4rem;
    border-radius: 3rem;
    background-color: #C87E4F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .button:hover {
    background-color: #C2703D;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .contact-form .content-subtitle {
        text-align: center;
    }

    .contact-form .button {
        justify-self: center;
    }
}

